

#main-panel {
	width: 50%;
	min-width: 400px;
	margin-left: 25%;
	background: #dddddd;
	padding: 50px;
	float: left;
	overflow: hidden;
}

#content-panel {
	width: 80%;
}

#head-parent-panel {
	background-color: #404040;
}

#head-panel div{
	float: left;
}

#head-img-panel {
	margin-left: 20px;
	margin-top: 20px;
}

#head-img {
	width: 70px;
	height: 70px;
}

#name-panel{
	margin-left: 30px;
	margin-top: 40px;
}

#name-text {
	font-size: 25px;
	color: #fff;
}

#side-panel {
	width: 20%;
}

#items-panel {
	width: 100%;
	overflow: hidden;
}

#items-menu{
	list-style: none;
	width: 500px;
}

.banner-item {
	margin: 0px 20px 0px 20px;
	border: 0;
	padding: 0;
	background: #707070; 
	width: 70px;
/*	display: inline;*/
	float: left;
	text-align: center;
}

.banner-item:hover {
	background: #757575;
}

.banner-item a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}