/* author: Ritchie Lee        */
/* email:  daghlny@gmail.com  */

body {
	text-align: center;
}

#main-panel {
	width: 50%;
	min-width: 700px;
	/*margin-left: 25%;
	margin-right: 25%; */
	margin: 0 auto;
	background: #dddddd;

	padding: 50px;
	/*float: left;*/
	overflow: hidden;
	text-align: left;
}

/* 主要内容的容器panel */
#content-panel {
	float: left;
	width: 80%;
	min-width: 560px;
}

/*标题栏*/
#head-parent-panel {
	background-color: #404040;
	height: 160px;
}

#head-panel {
	margin: 0;
	padding: 0;
	padding-bottom: 6px;
	overflow: hidden;
}

#head-img-panel {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#head-img {
	width: 70px;
	height: 70px;
}

#name-panel{
	float: left;
	margin-left: 40px;
	margin-top: 40px;
}

#name-text {
	font-size: 23px;
	font-family: consolas;
	color: #fff;
}

/*侧边栏*/
#side-panel {
	width: 20%;
	min-width: 140px;
	height: 500px;
	float: left;
	/*background-color: #555555;*/
	background-color: #f4f4ec;
}

#side-head-panel {
	margin-top: 60px;
	width: 80%;
	margin-left: 10%;
	padding: 0;
}

#side-head-img{
	position: absolute;
	/*
	padding-left: 10%;
	padding-right: 10%;
	*/
}

#side-head-img img {
	position: relative;
	width: 100%;
	width: 100%;
	z-index: ;
}

#side-head-saying-panel {
	margin-top: 20px;
	margin-bottom: 20px;
}

#side-head-saying-panel span {
	color: #404040;
	font-size: 13px;
	font-style: italic;
	font-family: Arial;
}

#supply-color-panel {
	background-color: #404040;
	height: 160px;
	width: 100%;
	position: relative;
	z-index: 0;
}

#side-myself-intro-panel {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 40px;
}

#side-myself-intro-panel p{
	font-family: STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”;
	font-size: 13px;
}

/*目录栏*/
#items-panel {
	position: relative;
	bottom: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 80%;
	overflow: hidden;
}

#items-menu{
	margin-top: 25px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	overflow: hidden;
	list-style: none;
}

.banner-item {
	margin: 5px 20px 0px 20px;
	border: 0;
	padding: 0;
	padding-top: 5px;
	background: #707070; 
	width: 70px;
	height: 25px;
/*	display: inline;*/
	float: left;
	text-align: center;
}

.banner-item a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#banner-item-index {
	margin-left: 0px;
	padding-left: 0px;
}


.banner-item:hover {
	background: #757575;
	cursor: pointer;
}

.banner-item a {
	color: #fff;
	font-size: 15px;

	text-decoration: none;
}

.selected-banner-item {
	height: 30px;
	padding-top: 5px;
	margin-top: 0px;
	overflow: hidden;
	background-color: #f4f4ec;
}

.selected-banner-item:hover {
	background-color: #f4f4ec;
}

.selected-banner-item a {
	display: block;
	padding-top: 5px;
	color: #000;
}

/*实际的内容展示panel*/
#real-panel{
	width: 100%;
	background-color: #f4f4ec;
	overflow: hidden;
	/*height: 400px;*/
}

.article-abstract-block {
	margin: 50px 70px;
	background-color: #dddddd;
	overflow: hidden;
}

.article-abstract-title-block {
	width: 100%;
	margin: 20px 20px;
}

.article-abstract-title {
	font-family: consolas,Lora,楷体,微软雅黑, consolas;
	font-size: 20px;
	color: #67a88f;
}

.article-abstract-content-block {
	width: 100%;
	margin: 10px 20px;

}

.article-abstract-content {
	font-family: consolas,Lora,楷体,微软雅黑, consolas;
	font-size: 14px;
}
